body {
    font: 14pt/1.6 "PT Serif", Georgia, Times, serif;
    text-align: center;
    background: #FDFDFD;
    color: #333;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4 {
    font-family: Helvetica, Arial, sans-serif;
}

h1.title {
    font-family: "PT Serif", serif;
    letter-spacing: -1px;
    font-size: 32pt;
}

p:first-child {
    margin-top: 0;
}


a {
    color: #234789;
}

a:visited {
    color: #436789;
}

a:hover {
    color: #3357f9;
}

a:active {
    color: #101844;
}

.content {
    width: 720px;
    margin: 70px auto;
    text-align: left;
}

.content section {
    padding-bottom: 15px;
}

.header {
    border-bottom: 1px solid #D5D5D2;
}

.header h1 {
    font-size: 14pt;
    text-transform: uppercase;
}

.header h1 a {
    color: #777;
    text-decoration: none;
}

.header .twitter-button {
    float: right;
}

.shadow-frame {
    border: 1px solid #ddd;
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1);
}

pre {
    padding: 6px 10px;
    font-size: 11pt;
    background: #eee;
}

.clearfix:before, .clearfix:after {
    display: table;
    content: "";
    line-height: 0;
}
.clearfix:after {
    clear: both;
}

.media-container.center {
    text-align: center;
    width: 100%;
}

.media-container.left {
    text-align: center;
    float: left;
}

.media-container.right {
    text-align: center;
    float: right;
}

.media-container.half {
    width: 50%;
}

.media-container img {
    max-width: 100%;
}


.media-container.right.inset {
    margin: 0 0 10px 10px;
}

.media-caption {
    font-size: 12pt;
    color: #666;
    padding: 2px 12px;
    text-align: left;
    margin: 0 auto;
}

.media-caption.big {
    font-size: inherit;
    color: inherit;
}

.media-caption.right {
    float: right;
}

#overlay-background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 98;
}

.overlay-toggle {
    z-index: 99;
}

.overlay {
    z-index: 100;
    position: absolute;
    background: #fff;
    padding: 5px 25px;
    border-radius: 4px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.6);
    width: 720px;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transition: opacity 0.1s linear, -webkit-transform 0.25s ease-in-out;
    -moz-transition: opacity 0.1s linear, -moz-transform 0.25s ease-in-out;
    transition: opacity 0.1s linear, transform 0.25s ease-in-out;
    opacity: 0;
}

.overlay.visible {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

.overlay .overlay-arrow {
    position: absolute;
    top: -25px;
}

img.clickable {
    cursor: pointer;
}

img.clickable:active {
    opacity: 0.7;
}

.video-player {
    display: inline-block;
    position: relative;
}

.video-player .pause-button {
    display: none;
}

.video-player.playing .play-button {
    display: none;
}

.video-player.playing:hover .pause-button {
    display: block;
}

.video-player .play-button, .video-player .pause-button {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
}

.video-player .play-button {
    background: url('img/play-icon.png') no-repeat 50% 50%;
}

.video-player .pause-button {
    background: url('img/pause-icon.png') no-repeat 50% 50%;
    opacity: 0.2;
}

.video-player .pause-button:active {
    opacity: 0.6;
}

.video-player .play-button:hover {
    opacity: 0.8;
}

.video-player .play-button:active{
    opacity: 0.6;
}

.fake-ipad {
    background: #222;
    padding: 18px 18px 15px 18px;
    display: inline-block;
    border-radius: 12px;
    border: 2px solid #ccc;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
}
